@import "swagger-ui-react/swagger-ui.css";

:root {
  --color-outline: 111, 121, 123;
  @media (prefers-color-scheme: dark) {
    --color-outline: 137, 146, 149;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
Workaround to allow proper bottom positioning for fixed
elements in mobile browsers with collapsing url bars:
https://stackoverflow.com/a/17555766/1137077
*/
  html {
    @apply h-full;
  }
  body {
    @apply h-full min-h-full;
  }
  #__next {
    @apply h-full;
  }
}

@layer components {
  a {
    @apply text-primary underline;
  }

  ul {
    @apply list-inside list-disc ps-4;
  }

  ul:not(li > ul) {
    @apply my-[1em];
  }
}
